.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: auto;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
     
  }
  mat-card{
    margin:11px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  .example-card {
    max-width: 600px;
   
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-header-image-phone {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQjKcyTc8Xai-h_PVAEKlrA9r5xPcS1WJ9mX1tNDVoz7JIxge97Q');
    background-size: cover;
  }
  
   img{
       height: 200px;
       
   }