
<div class="grid-container"> 
    <h1 class="mat-h1" color="Primary">
        <span><mat-icon>img</mat-icon> Material Images Iphones</span>
    </h1>
    <mat-grid-list cols="4" rowHeight="500px">
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-phone"></div>
                    <mat-card-title>Apple Iphone</mat-card-title>
                    <mat-card-subtitle>Apple</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQjKcyTc8Xai-h_PVAEKlrA9r5xPcS1WJ9mX1tNDVoz7JIxge97Q" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Apple has unveiled three new smartphones, the Apple iPhone XS, the Apple iPhone XS Max and the iPhone XR! All of these brand new handsets adopt the style of the iPhone X with screens that cover the entirety of the front of the phone.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-phone"></div>
                    <mat-card-title>Apple Iphone</mat-card-title>
                    <mat-card-subtitle>Apple</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQjKcyTc8Xai-h_PVAEKlrA9r5xPcS1WJ9mX1tNDVoz7JIxge97Q" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Apple has unveiled three new smartphones, the Apple iPhone XS, the Apple iPhone XS Max and the iPhone XR! All of these brand new handsets adopt the style of the iPhone X with screens that cover the entirety of the front of the phone.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-phone"></div>
                    <mat-card-title>Apple Iphone</mat-card-title>
                    <mat-card-subtitle>Apple</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQjKcyTc8Xai-h_PVAEKlrA9r5xPcS1WJ9mX1tNDVoz7JIxge97Q" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Apple has unveiled three new smartphones, the Apple iPhone XS, the Apple iPhone XS Max and the iPhone XR! All of these brand new handsets adopt the style of the iPhone X with screens that cover the entirety of the front of the phone.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image-phone"></div>
                    <mat-card-title>Apple Iphone</mat-card-title>
                    <mat-card-subtitle>Apple</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQjKcyTc8Xai-h_PVAEKlrA9r5xPcS1WJ9mX1tNDVoz7JIxge97Q" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Apple has unveiled three new smartphones, the Apple iPhone XS, the Apple iPhone XS Max and the iPhone XR! All of these brand new handsets adopt the style of the iPhone X with screens that cover the entirety of the front of the phone.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile> 
    </mat-grid-list> 
    <br>
    <h1 class="mat-h1" color="Primary">
        <span><mat-icon>img</mat-icon> Material Images</span>
    </h1>
    <mat-grid-list cols="4" rowHeight="500px">
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"> 
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile> 
    </mat-grid-list> 
</div>
